html {
    overflow: scroll;
    overflow-x: hidden;
}
::-webkit-scrollbar {
    width: 0px;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
}


body{
    background-color:rgb(18,18,18);
    height:600%;
    margin:0;
    overflow-y: scroll;
    font-family: 'Source Code Pro';
}

#headerInputDiv {
    width: 50vmax;
    height: 50vmax;
    border-radius: 50vmax;
    background-color: rgb(222, 217, 202);
    position: relative;
    left: 25vmax;
    top: -46vmax;
    -webkit-box-shadow: 0 0 20px rgb(240, 237, 230);
    -moz-box-shadow: 0 0 20px rgb(240, 237, 230);
    box-shadow: 0 0 20px rgb(240, 237, 230);
}

[contenteditable] {
    outline: 0px solid transparent;
  }

#headerInput:focus {
    outline: none;
}

#headerInput {
    width: 100%; 
    position: relative; 
    font-size: 1.5vmax;
    text-align: center;
    outline: none;
    background-color: transparent;
    text-shadow: -2px -2px 21px rgba(255, 255, 255, 0.75);
    color: rgb(18,18,18);
    border-width: 0ch;
    top: 46.5vmax;
}

#graphContainer{
    position:fixed;
    height:100%;
    width:100%;
    font-family: "Oswald";
    font-size: '2vw';
}

#graphContainer svg {
    position: absolute;
    top:0;
    left:0;
    height:100%;
    width:100%;
    z-index:  -11;
} 

.graphNodes {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -11;
}

#menuDiv {
    position: fixed;
    left: 50%;
    bottom: 0px;
    margin: 0 auto;
    transform: translateX(-50%);
}

#input{
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    color: white;
    font-family: 'Courier New', Courier, monospace;
}


#inputButton{
    position:relative;
    margin: 16;
    width:0;
    height:0;
    background: none;
    border:none;
}

#volumeButton{
    position: relative;
    margin: 16;
    width:0;
    height:0;
    background: none;
    border:none;
}

#volumeImg {
    width: 35;
    height: 35;
    cursor: pointer;
    position:absolute;
    transform: translateY(-20%);
    bottom:0;
}

#inputButtonSvg{
    position:absolute;
    transform:translateX(-25%);
    bottom:0;
    cursor: pointer;
}

/* #inputContainer {
    display:none;
    background:grey;
    opacity: 0.9;
    position:fixed;
    top:0;
    left:50%;
    margin-left:-50vmin;
    width:100vmin;
    height:100vmin;
    align-items: center;
    justify-content: center;
    clip-path: url(#heptagonClip);
} */

#inputContainer {
    display:none;
    background:rgba(18, 18, 18, 0.6);
    position:fixed;
    color: white;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
}

textarea {
    border: none;
    background-color: transparent;
    resize: none;
    outline: none;
    font-size: 1.5vmax;
    padding: 5vmax;
    height: 100%;
    width: 100%;
}

  