body{
    background:black;
    height:200%;
    margin:0;
    overflow-y: scroll;
}

#graphContainer{
    position:fixed;
    height:100%;
    width:100%;
    cursor: move;
}

#graphContainer svg {
    position: absolute;
    top:0;
    left:0;
    height:100%;
    width:100%;
} 

.graphNodes {
    width: 100%;
    height: 100%;
    position: absolute;
}

  
#input{
    position:fixed;
    background:white;
    width:50%;
    height:0;
    opacity:0;
    left:50%;
    top:50%;
    transform:translate(-50%, -50%);
    text-align:center;
}

#inputButton{
    position:fixed;
    left:50%;
    top:98%;
    width:0;
    height:0;
    background: none;
    border:none;
}

#inputButton svg{
    position:absolute;
    transform:translateX(-50%);
    bottom:0;
    cursor: pointer;
}