html {
    overflow: scroll;
    overflow-x: hidden;
}
::-webkit-scrollbar {
    width: 0px;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
}


body{
    background-color:rgb(18,18,18);
    height:600%;
    margin:0;
    overflow-y: scroll;
}

#headerinputdiv {
    width: 50vmax;
    height: 50vmax;
    border-radius: 50vmax;
    background-color: rgb(222, 217, 202);
    position: relative;
    left: 25vmax;
    top: -46vmax;
    -webkit-box-shadow: 0 0 20px rgb(240, 237, 230);
    -moz-box-shadow: 0 0 20px rgb(240, 237, 230);
    box-shadow: 0 0 20px rgb(240, 237, 230);
}

#headerinput:focus {
    outline: none;
}

#headerinput {
    outline: none;
    background-color: transparent;
    text-shadow: -2px -2px 21px rgba(255, 255, 255, 0.75);
    font-family: "Oswald";
    color: rgb(18,18,18);
    border-width: 0ch;
    top: 46.5vmax;
}

#graphContainer{
    position:fixed;
    height:100%;
    width:100%;
    cursor: move;
    font-family: "Oswald";
    font-size: '2vw';
}

#graphContainer svg {
    position: absolute;
    top:0;
    left:0;
    height:100%;
    width:100%;
    z-index:  -11;
} 

.graphNodes {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -11;
}

#menu {
    position: fixed;
    left: 50%;
    bottom: 0px;
    margin: 0 auto;
    transform: translateX(-50%);
}

#input{
    flex-direction: column;
    align-items: center;
    position:fixed;
    background:none;
    width:50%;
    height: 80%;
    opacity:0;
    color:white;
    border:none;
    display:none;
    background:none;
}

#input div{
    text-align:center;
    width:100%;
}

#inputButton{
    position:relative;
    margin: 16;
    width:0;
    height:0;
    background: none;
    border:none;
}

#volumeButton{
    position: relative;
    margin: 16;
    width:0;
    height:0;
    background: none;
    border:none;
}

#volumeImg {
    width: 35;
    height: 35;
    cursor: pointer;
    position:absolute;
    transform: translateY(-20%);
    bottom:0;
}

#inputSvg{
    position:absolute;
    transform:translateX(-25%);
    bottom:0;
    cursor: pointer;
}



#fixedcontainer{
    display:none;
    background:none;
    position:fixed;
    top:0;
    left:50%;
    margin-left:-50vmin;
    width:100vmin;
    height:100vmin;
    align-items: center;
    justify-content: center;
    clip-path: url(#heptagonClip);
}


  